.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.card {
  width: 100%; }

.iframe-map {
  width: 100%;
  height: auto;
  min-height: 350px;
  border: 0; }

.footer {
  background-color: #fbc02d;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #fbc02d;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.navbar-light {
  background-color: #c49000; }

.navbar-nav .nav-item .nav-link {
  color: black !important; }
  .navbar-nav .nav-item .nav-link:hover {
    color: #ffdd4b !important; }

.modal .modal-header {
  background-color: #fbc02d;
  color: black; }
  .modal .modal-header button.close {
    color: black; }
    .modal .modal-header button.close:hover {
      color: #c49000; }

.modal .modal-body {
  background-color: #ffdd4b; }

.card {
  background: #ffdd4b; }
  .card .card-header {
    background-color: #fbc02d;
    color: black; }
  .card .card-header h3:first-of-type {
    float: left; }
  .card .card-header h3:last-of-type {
    float: right; }

.card-chat {
  background-color: #ffdd4b;
  border: 0;
  margin: 0;
  padding: 0; }
  .card-chat .card-header {
    background-color: #fbc02d;
    color: black; }
  .card-chat .card-body {
    background-color: #ffdd4b; }
  .card-chat .list-group-item {
    background-color: #ffdd4b; }

.card-chat-text {
  background: white;
  border: 0;
  margin-bottom: 10px; }
  .card-chat-text .card-header {
    background-color: #fbc02d;
    color: black; }
  .card-chat-text .card-body {
    background-color: white;
    margin: 0;
    padding-left: 0;
    padding-right: 0; }
  .card-chat-text .list-group-item {
    background-color: #ffdd4b; }

.btn-black-text {
  color: black !important; }

.btn-navbar {
  color: black; }
  .btn-navbar:hover {
    color: #ffdd4b; }

.div-black-text {
  color: black !important; }
