$lt-gray: #ddd;
$background-dark: #c49000;
$background-light: #fbc02d;
$background-pale: #ffdd4b;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

@mixin close-button($color-button, $hover) {
  color: $color-button;
  &:hover {
    color: $hover;
  }
}

@mixin navlink($color-button, $hover) {
  color: $color-button !important;
  &:hover {
    color: $hover !important;
  }
}

.row-header {
  @include zero-margin(0px, 0px);
}

.row-content {
  @include zero-margin(50px, 0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.card {
  width: 100%
}

.iframe-map {
  width: 100%;
  height: auto;
  min-height: 350px;
  border: 0
}

.footer {
  background-color: $background-light;
  @include zero-margin(20px, 0px);
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.navbar-light {
  background-color: $background-dark;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      @include navlink(black, $background-pale);
    }
  }
}

.modal {
  .modal-header {
    background-color: $background-light;
    color: black;

    button.close {
      @include close-button(black, $background-dark);
    }
  }

  .modal-body {
    background-color: $background-pale;
  }
}

.card {
  .card-header {
    background-color: $background-light;
    color: black;
  }

  .card-header h3:first-of-type {
    float: left;
  }

  .card-header h3:last-of-type {
    float: right;
  }

  background: $background-pale;
}

.card-chat {
  background-color: $background-pale;

  .card-header {
    background-color: $background-light;
    color: black;
  }

  .card-body {
    background-color: $background-pale;
  }

  .list-group-item {
    background-color: $background-pale;
  }

  border: 0;
  margin: 0;
  padding: 0;
}

.card-chat-text {
  background: white;

  .card-header {
    background-color: $background-light;
    color: black;
  }

  .card-body {
    background-color: white;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .list-group-item {
    background-color: $background-pale;
  }

  border: 0;
  margin-bottom: 10px;
}

.btn-black-text {
  color: black !important;
}

.btn-navbar {
  @include close-button(black, $background-pale);
}

.div-black-text {
  color: black !important;
}
